<div class="container">
    <p class="lead"><italic><h2>Student Details</h2></italic></p>
    <br>
    <p><%= @post.name %></p>
    <p><%= @post.section %></p>
    <br>
    <p><%= link_to 'Back', 'http://localhost:3000/categories/'+@post.category_id.to_s %></p>



</div>